.search-input{
    border: none;
    background-color: rgb(139, 182, 146);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    width: 90%;
    min-width: 500px;
    max-width: 900px;
    box-shadow: 0px 1px 10px rgba(228, 223, 237, 0.315);
    margin-bottom: 20px;
}
h2{
    color: rgb(139, 182, 146);
    text-align: left;
}
i{
    color: #21272af0;
    background: rgb(139, 182, 146);
    margin: 6px;
    opacity: 70%;
}
#close:hover{
opacity: 100%;
}
input{
    border: none;
    width: 90%;
    color: #21272af0;
    padding: 10px;
    background: transparent ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}
